@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9f62f2;
  --color-secondary: teal;
}

a.active{
  color: #9f62f2;
  text-decoration: underline;
}
